<div class="loadingIndicator" [@slide]="slideState">
  <img src="/assets/bars.svg" alt="Kiwi standing on oval">
</div>

<div class="title_input" [@slide]="inputSlideState">
  
  <input style="width: 80%;" type="text" class="input" [(ngModel)]="global_title" placeholder="Enter a title for your code snippet">
  <br><br>
  
  <div class="btnContainer">
    <div class="runButton" (click)="save_after_title_entered()">
      <p class="btnText">Save</p>
      <div class="btnTwo">
        <p class="btnText2">
          <i class="far fa-save" style="font-size: 1.4rem"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="btnContainer">
    <div class="runButton" (click)="cancel_input()">
      <p class="btnText">Cancel</p>
      <div class="btnTwo">
        <p class="btnText2">
          <i class="fas fa-times" style="font-size: 1.4rem"></i>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="main-title">
  Code Samples
</div>


<div #listOfCodeSamples *ngIf="code_samples$ | async; let code_samples else loading">

  <!-- Start of Search Box -->
  <div style="margin-top: 10px;">
    <div class="searchBox" style="width: 40%; margin: auto;">
      <input type="text" placeholder="Search by Code Sample Title" class="input" [(ngModel)]="cs_filter">
    </div>
  </div>
  <!-- End of Search Box -->

  <!-- Start of the list of CODE SAMPLES -->
  <div *ngFor="let code_sample of code_samples | search: 'lesson_title' : cs_filter; let i = index;" class="column is-12">
    <div style="display: inline-block; font-family: 'Exo'; width: 100%;">
      <span class="code_sample_title">
        {{ code_sample.lesson_title }}
      </span>
      <span  style="font-size: .805em; color: #808080; margin-left: 15px;"> (Last updated: <b>a month ago</b>) </span>
      <br>

      <div class="code-segment">
        <textarea id="ta_{{i}}">{{ code_sample.code }}</textarea>
      </div>
      
      
      <div class="dataBack" [@outputSlide]="outputSlideState[i]">
        <span class="result">Result</span>
        <span class="closeResult" (click)="closeResult(i)">
          <i class="fas fa-times"></i>
        </span>
        <br><br>
        <span [innerHTML]="dataBack"></span>

      </div>
      <div class="runButtonsContainer">
        <div class="runButton" (click)="run(i)">
          <p class="btnText">RUN</p>
          <div class="btnTwo">
            <p class="btnText2">
              <i class="fas fa-play" style="font-size: 1.4rem"></i>
            </p>
          </div>
        </div>

        <div class="btnContainer">
          <div class="runButton" (click)="copy(i, code_sample.code)">
            <p class="btnText">Copy</p>
            <div class="btnTwo">
              <p class="btnText2">
                <i class="far fa-copy" style="font-size: 1.4rem"></i>
              </p>
            </div>
          </div>
        </div>

        <div *ngIf="auth.user" style="display: inline;">
          <div class="btnContainer">
            <div class="runButton" (click)="save(i)">
              <p class="btnText">Save</p>
              <div class="btnTwo">
                <p class="btnText2">
                  <i class="far fa-save" style="font-size: 1.4rem"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End of "runButtonsContainer" -->

      <br><br>
    </div>
  </div>
  <!-- End of the list of CODE SAMPLES -->

</div>
<ng-template #loading>
    <div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-wedges"><div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div><style type="text/css">@keyframes lds-wedges {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @-webkit-keyframes lds-wedges {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    .lds-wedges {
      position: relative;
    }
    .lds-wedges > div > div {
      -webkit-transform-origin: 100px 100px;
      transform-origin: 100px 100px;
      -webkit-animation: lds-wedges 3s linear infinite;
      animation: lds-wedges 3s linear infinite;
      opacity: 0.8;
      /* float: right; */
      position: absolute;
      left: 150%;
    }
    .lds-wedges > div > div > div {
      position: absolute;
      left: 30px;
      top: 30px;
      width: 70px;
      height: 70px;
      border-radius: 70px 0 0 0;
      -webkit-transform-origin: 100px 100px;
      transform-origin: 100px 100px;
    }
    .lds-wedges > div div:nth-child(1) > div {
      background: #3e6d8d;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .lds-wedges > div div:nth-child(1) {
      -webkit-animation-duration: 0.75s;
      animation-duration: 0.75s;
    }
    .lds-wedges > div div:nth-child(2) > div {
      background: #4b9bbe;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .lds-wedges > div div:nth-child(2) {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
    }
    .lds-wedges > div div:nth-child(3) > div {
      background: #eef3ef;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .lds-wedges > div div:nth-child(3) {
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
    }
    .lds-wedges > div div:nth-child(4) > div {
      background: #f9aa47;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .lds-wedges > div div:nth-child(4) {
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
    }
    .lds-wedges {
      width: 200px !important;
      height: 200px !important;
      -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
      transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    }
    </style></div>
</ng-template>