<div class="main-title">
  Assignments
</div>
  
<div class="container-centered">
  <div #listOfCodeSamples *ngIf="assignments$ | async; let assignments else loading">

    <!-- Start of Search Box -->
    <div style="margin-top: 10px;">
      <div class="searchBox" style="width: 40%; margin: auto;">
        <input type="text" placeholder="Search by Lecture Title" class="input" [(ngModel)]="lec_title_filter">
      </div>
    </div>
    <!-- End of Search Box -->

    <!-- Start of the list of Assignments -->
    <div #listOfAssignments *ngFor="let assignment of assignments | search: 'lec_title' : lec_title_filter; let i = index;" class="column is-12">
      <div style="display: inline-block; font-family: 'Exo'; width: 100%;">
        <div style="font-family: 'Exo'; font-size: 30px;">
          <span class="boxx">
            <span class="custom-underline">
              {{ assignment.assignment_number }} - {{ assignment.assignment_title }}
            </span>
          </span>
          <span style="font-size: 13px; color: #808080; margin-left: 4px;">
            Last updated: <b>a month ago</b>
          </span>
        </div>
        <!-- <br> -->
        <span class="lecture"> Lecture: <b>{{ assignment.lec_title }}</b> </span>
        <div class="description" [innerHtml]="assignment.description"></div>

        <div *ngIf="assignment.type == 'code' && (auth.user | async)">
          <br>
          <textarea class="tas" id="ta_{{i}}"></textarea>
        </div>
        <div *ngIf="(assignment.type == 'file') && (auth.user | async)" style="float:right">
          <label class="file-label">
            <input #fileInput type="file" class="file-input" (change)="chooseFiles($event)" />
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Upload a file
              </span>
            </span>
          </label>
        </div><br><br>
        <progress *ngIf="progressBarValue" class="progress is-success is-small" value="{{ progressBarValue | async }}" max="100"></progress>
        <span *ngIf="file_added" style="font-family: 'Exo'; display: block;  margin-top: 0px;">
          <a *ngIf="!is_image" href="{{filesrc | async}}">Your file</a> (press submit to send)
        </span>
        <div *ngIf="auth.user | async" style="margin-top: 20px;" >
            <div class="btnContainer">
              <div class="runButton" (click)="submit(i, assignment)">
                <p class="btnText">Submit</p>
                <div class="btnTwo">
                  <p class="btnText2">
                    <i class="fas fa-check-circle" style="font-size: 1.4rem"></i>
                  </p>
                </div>
              </div>
            </div>
        </div>
        <div class="separator"></div>

      </div>
    </div>
  </div>

  <ng-template #loading>
      <div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-wedges"><div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div><style type="text/css">@keyframes lds-wedges {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @-webkit-keyframes lds-wedges {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      .lds-wedges {
        position: relative;
      }
      .lds-wedges > div > div {
        -webkit-transform-origin: 100px 100px;
        transform-origin: 100px 100px;
        -webkit-animation: lds-wedges 3s linear infinite;
        animation: lds-wedges 3s linear infinite;
        opacity: 0.8;
        /* float: right; */
        position: absolute;
        left: 150%;
      }
      .lds-wedges > div > div > div {
        position: absolute;
        left: 30px;
        top: 30px;
        width: 70px;
        height: 70px;
        border-radius: 70px 0 0 0;
        -webkit-transform-origin: 100px 100px;
        transform-origin: 100px 100px;
      }
      .lds-wedges > div div:nth-child(1) > div {
        background: #3e6d8d;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      .lds-wedges > div div:nth-child(1) {
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s;
      }
      .lds-wedges > div div:nth-child(2) > div {
        background: #4b9bbe;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      .lds-wedges > div div:nth-child(2) {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
      }
      .lds-wedges > div div:nth-child(3) > div {
        background: #eef3ef;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      .lds-wedges > div div:nth-child(3) {
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
      }
      .lds-wedges > div div:nth-child(4) > div {
        background: #f9aa47;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      .lds-wedges > div div:nth-child(4) {
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
      }
      .lds-wedges {
        width: 200px !important;
        height: 200px !important;
        -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
      }
      </style></div>
  </ng-template>
</div>