.container-centered {
    padding: 10px 30px;
}

.main-title {
    font-family: Exo;
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    text-align: center;
    background-color: #f1f1f1;
    margin: 0 -30px;
    padding-bottom: 20px;
}

.boxx {
    cursor: pointer;
}

.custom-underline {
    position: relative;
    display: inline-block;
}

.custom-underline, .custom-underline:active, .custom-underline:focus, .custom-underline:hover {
    color: #000;
    text-decoration: none;
}

.boxx .custom-underline::after {
    top: 95%;
    height: 2px;
    width: 0%;
    left: 5%;
    background-color: rgba(0,0,0,.6);
    transition: .5s ease all .3s;
}
.custom-underline::after {
    content: "";
    position: absolute;
}

.boxx:hover .custom-underline::after {
    width: 90%;
    transition: 0.3s ease all;
}

.description {
    margin-top: 20px;
    margin-left: 30px;
}

.separator {
    margin: 30px auto;
    width: 90%;
    border-bottom: rgba(0,0,0,.2) dashed 1px;
}

.lecture {
    width: 100%;
    background: #000;
    border-radius: 15px 5px 15px;
    padding: 0.15rem 0.35rem;
    font-size: 13px; 
    color: #d3d3d3;
    /* text-decoration: underline; */
}



.btnContainer {
    margin-left: 20px;  
    display: inline-block;
  }
  
  .runButton {
    display: inline-block;
    font-family: 'Exo';
    background: #3D4C53;
    margin : 0px 0;
    width : 150px;
    height : 40px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  }
  .btnTwo {
    position : relative;
    width : 200px;
    height : 100px;
    margin-top: -50px;
    padding-top: 2px;
    background : #26A69A;
    left : -250px;
    transition : .3s;
  }
  .btnText {
    color : white;
    margin-top: 8px;
    transition : .3s;
  }
  .btnText2 {
    margin-top: 23px;
    margin-right : -130px;
    color : #FFF;
  }
  .runButton:hover .btnTwo{ /*When hovering over .runButton change .btnTwo*/
    left: -130px;
  }
  .runButton:hover .btnText{ /*When hovering over .runButton change .btnText*/
    margin-left : 65px;
  }
  .runButton:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }