<div class="main-title">
  Lectures
</div>


<div class="container-centered">
<div *ngIf="lectures$ | async; let lectures else loading">
  <div *ngFor="let lecture of lectures" class="column is-12">
    <div style="display: inline-block; margin-right: 5%; vertical-align: top; min-width: 100px;">
      <img src="{{ lecture.lec_image }}" style="max-width: 100px; max-height: 100px;">
    </div>
    <div class="lecture_inner">
      <span class="lec_title_underline" style="width: 150%;">
        {{ lecture.lec_number }} - {{ lecture.lec_title }}
      </span>
      <br>
      <span class="is-pulled-right" style="font-size: .805em; color: #808080; margin-left: 4px;"> (Last updated: <b>a month ago</b>) </span>
      <br>
      <span [innerHTML]="lecture.description | safeHTML"></span>
      <br><br>
    </div>
    
    <span style="width: 100%; font-family: 'Exo'; margin-left: 15%; display: block">
      <span>
        <a class="link" href="https://drive.google.com/file/d/0B6myUIqEE6noTkZXSUx1ZjFyTGs/view">
          <i class="far fa-eye"></i> View lecture
        </a>
      </span>

      <span>
        <a class="link" href="https://drive.google.com/file/d/0B6myUIqEE6noTkZXSUx1ZjFyTGs/view">
          <i class="fas fa-download"></i> Download lecture
        </a>
      </span>

      <span>
        <a class="link" [routerLink]="['/assignments', lecture.lec_title]">
          <i class="fas fa-tasks"></i> Assignments
        </a>
      </span>
    </span>
    <hr>
  </div>
</div>
<ng-template #loading>
    <div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-wedges"><div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div><style type="text/css">@keyframes lds-wedges {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @-webkit-keyframes lds-wedges {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    .lds-wedges {
      position: relative;
    }
    .lds-wedges > div > div {
      -webkit-transform-origin: 100px 100px;
      transform-origin: 100px 100px;
      -webkit-animation: lds-wedges 3s linear infinite;
      animation: lds-wedges 3s linear infinite;
      opacity: 0.8;
      /* float: right; */
      position: absolute;
      left: 150%;
    }
    .lds-wedges > div > div > div {
      position: absolute;
      left: 30px;
      top: 30px;
      width: 70px;
      height: 70px;
      border-radius: 70px 0 0 0;
      -webkit-transform-origin: 100px 100px;
      transform-origin: 100px 100px;
    }
    .lds-wedges > div div:nth-child(1) > div {
      background: #3e6d8d;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .lds-wedges > div div:nth-child(1) {
      -webkit-animation-duration: 0.75s;
      animation-duration: 0.75s;
    }
    .lds-wedges > div div:nth-child(2) > div {
      background: #4b9bbe;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .lds-wedges > div div:nth-child(2) {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
    }
    .lds-wedges > div div:nth-child(3) > div {
      background: #eef3ef;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .lds-wedges > div div:nth-child(3) {
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
    }
    .lds-wedges > div div:nth-child(4) > div {
      background: #f9aa47;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .lds-wedges > div div:nth-child(4) {
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
    }
    .lds-wedges {
      width: 200px !important;
      height: 200px !important;
      -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
      transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    }
    </style></div>
</ng-template>
</div>