.container-centered {
    padding: 10px 30px;
  }
  
button.deletee {
  z-index: 3000;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: 0;
  background: transparent;
  outline: 0;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  color: goldenrod;
  font-size: 30px;
  transition: .5s color ease-in-out;
  border-radius: 2px;
}  

button.deletee:hover {
  color: #F34541;
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.loadingIndicator {
  background: rgba(39, 42, 50, 0.712);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  top: 35%;
  left: 45%;
  transform: translateY(-50%);
  z-index: 2000;  
}
  
  .title_input {
    background: rgba(25, 27, 32, 0.863);
    padding: 20px;
    /* width: 40%; */
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 35%;
    left: 30%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2000;  
  }
  
  .main-title {
      font-family: Exo;
      color: #fff;
      font-size: 4em;
      font-weight: 700;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
      text-align: center;
      background-color: #f1f1f1;
      margin: 0 -30px;
      padding-bottom: 20px;
  }
  
  
  .lec_title_underline {
      font-family: Exo;
      font-size: 30px;
      font-weight: 700;
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 88%;
      transition: background-size 0.25s ease-in;
  }
  
  .lec_title_underline:hover {
      background-size: 100% 88%;
  }
  
  
  .code_sample_title {
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: -3px;
    font-family: 'Exo';
    display: inline-block;
  }
  
  .code-segment::before {
  
    font-family: 'Font Awesome 5 Free', 'FontAwesome';
    content: '\f121';
    font-weight: 900;
    padding-top: 18px;
    padding-left: 8px;
    background-color: #40aa94;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -18px;
    margin-top: -15px;
    color: #fff;
    line-height: 0;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
    z-index: 1099;
  }
  
  
  .dataBack {
    padding-top: 10px;
    margin-left: -12px;
    margin-right: -12px;
    color: white;
    font-family: 'Exo';
    font-size: 20px;
    text-align: center;
    background-color: #272A32;
    border-left: 4px solid #40aa94;    
  }
  
  .result {
    font-weight: bold;
    font-size: 2rem;
  }
  
  
  
  .closeResult {
    float: right;
    font-size: 30px;
    margin-right: 15px;
    margin-top: 8px;
    -webkit-transition: -webkit-transform .4s ease-in-out, color 0.4s;
    transition:         transform .4s ease-in-out, color 0.4s;
  }
  
  .closeResult:hover {
    cursor: pointer;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #F1D950;
  }
  
  .btnContainer {
    margin-left: 20px;  
    display: inline-block;
  }
  
  @media only screen and ( max-width: 590px ) {
    .btnContainer {
      margin-left: -20px;
      display: block;
    }
    .runButtonsContainer {
      text-align: center;
    }
  }
  
  
  .runButton {
    display: inline-block;
    font-family: 'Exo';
    background: #3D4C53;
    margin : 0px 0;
    width : 150px;
    height : 40px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  }
  .btnTwo {
    position : relative;
    width : 200px;
    height : 100px;
    margin-top: -50px;
    padding-top: 2px;
    background : #26A69A;
    left : -250px;
    transition : .3s;
  }
  .btnText {
    color : white;
    margin-top: 8px;
    transition : .3s;
  }
  .btnText2 {
    margin-top: 23px;
    margin-right : -130px;
    color : #FFF;
  }
  .runButton:hover .btnTwo{ /*When hovering over .runButton change .btnTwo*/
    left: -130px;
  }
  .runButton:hover .btnText{ /*When hovering over .runButton change .btnText*/
    margin-left : 65px;
  }
  .runButton:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }
  