
<header class="site-header text-center">
  <nav class="navbar" role="navigation is-centered-vertically" aria-label="main navigation">
    <div class="navbar-brand" style="padding: 0px 0px 0px 10px;">
      <span class="head-text is-centered-vertically" [routerLink]="['/']" >
        Data Structures 2018 
      </span>
  
      <a role="button" class="navbar-burger" id="navbar-burger" 
        (click)="ToggleMenu($event)"
        aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-end" style="text-align: center;">
          <a class="navbar-item" [routerLink]="['/lectures']" (click)="ToggleMenu($event)">
            <i class="fas fa-book" style="margin-right: 6px;"></i>
            Lectures
          </a>
        
          <a class="navbar-item" [routerLink]="['/code-samples']" (click)="ToggleMenu($event)">
            <i class="fas fa-code" style="margin-right: 6px;"></i>
            Code Samples
          </a>
        
          <a class="navbar-item" [routerLink]="['/assignments']" (click)="ToggleMenu($event)">
            <i class="fas fa-tasks" style="margin-right: 6px;"></i>
            Assignments
          </a>
        
          <a *ngIf="auth.user | async" class="navbar-item" [routerLink]="['/saved-code-samples']" (click)="ToggleMenu($event)">
            <i class="fas fa-hdd" style="margin-right: 6px;"></i>
            My Saved Codes
          </a>              
      </div>
    </div>
  </nav>
</header>

<section class="section">
  <div class="container">
      <app-user></app-user>
    <router-outlet></router-outlet>
  </div>
</section>