
.container {
    background: #fff;
    max-width: 800px;
    border-radius: 50px 15px 20px;   
}

.section {
    background: #f1f2f1;
}
.container-centered {
    padding: 10px 30px;
}

.head-icon {
    min-height: 25px;
}
.head-icon > .iconn {
    display: none;
}



.head-text {
    outline: none;
    cursor: pointer;
    display: inline;
    font-family: 'Exo';
    font-size: 25px;
    transition: font-size 1.25s ease-in;
}


.is-centered-vertically {
    display: flex;
    align-items: center;
}

.navbar-item {
    font-family: 'Exo';
}

@media only screen and ( max-width: 450px ) /* 640 */ {
    .head-text {
        font-size: 22px;
    }
}
@media only screen and ( max-width: 400px ) /* 640 */ {
    .head-text {
        font-size: 19px;
    }
}

@media only screen and ( max-width: 390px ) /* 640 */ {
    .head-text {
        font-size: 17px;
    }
}
    
    