.container-centered {
    padding: 10px 30px;
}

.message {
    margin: 0 15px;
    /* padding: 15px 15px; */
    /* border-radius: 5px; */
    font-family: 'Exo', 'Tajawal';
    text-align:right;
	max-width: 55%;
	display: inline-block;
	padding: 0.5rem 1rem;
	line-height: 1rem;
	min-height: 2rem;
	font-size: 0.875rem;
    border-radius: 1rem;
    margin-bottom: 20px;
    direction: rtl;
	/* word-break: break-all; */
    
}

.message > img {
    display: block;
    max-width: 90%; max-height: auto;
}

.me {
    float: right;
	background-color: #ECEFF1;
	color: #607D8B;
	border-bottom-right-radius: 0.125rem;
}

.other {
    float: left;
	background-color: #E91E63;
	color: #fff;
	border-bottom-left-radius: 0.125rem;
}

span.name {
	color: #CFD8DC;
	font-size: 0.7rem;
	bottom: -0.35rem;
	margin-left: 1rem;
	display: block;
}

span.is_read {
    margin-top: 7px;
    float: right;
	color: rgb(197, 103, 134);
	font-size: 0.7rem;
	bottom: -0.35rem;
	margin-left: 1rem;
	display: block;
}

.user {
	padding: 10px;
	border-radius: 10px;
	position: relative;
    margin-bottom: 1px;
    cursor: pointer;
}

@-webkit-keyframes rainbow {
    0% {border-color: hsl(0, 100%, 50%);}
    100% {border-color: hsl(255, 100%, 50%);}
}
  

.user_img {
    width: 64px;
    height: 64px;
    -webkit-border-radius: 2em 1em;
    border-radius: 1em 2em;
    transition: box-shadow 0.45s ease-in-out;
}

.user:hover .user_img {
    -moz-box-shadow: 0px 0px 8px rgb(51, 50, 50);
    -webkit-box-shadow: 0px 0px 8px rgb(51, 50, 50);
    box-shadow: 0px 0px 8px rgb(51, 50, 50);
}


.tag {
	position: absolute;
	right: 10px;
	top: 26px;
}

.link {
	font-family: 'Exo';
	font-weight: bold;
    font-size: 17px;
    position: absolute;
	top: 26px;
	left: 85px;
    text-decoration: none;
    padding-bottom: 8px;
}

.link:before, .link:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F37272;
}
.link:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.link:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.link:hover:before, .link:hover:after, .link:focus:before, .link:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.link:hover:before, .link:focus:before {
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.link:hover:after, .link:focus:after {
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

