<div class="container-centered" style="text-align: left;" >
  
  <div *ngIf="(auth.user | async) && (id !== null); then particular else list">
      <!-- template will replace this div -->
  </div>
</div>

<ng-template #list >
    <div style="height: 50vh; overflow-y: scroll;">
      <ul *ngIf="(message$ | async)">
        <li *ngFor="let user of users_array; let i = index" class="user" [routerLink]="[user]">
          <!-- {{ names_array[i] | json }} -->
          <img class=" user_img" src="{{ names_array[i]?.user.photoURL }}">
          <a [routerLink]="[user]" class=" link">{{ names_array[i]?.user.displayName }}</a>
          <span *ngIf="names_array[i]?.new_messages > 0" class="tag is-danger">
              {{ names_array[i]?.new_messages }}
          </span>
        </li>
      </ul>
    </div>
</ng-template>

<ng-template #particular>  
    <div #scrollMe style="max-height: 40vh; overflow-y: scroll;" id="chat_box">
      <ul *ngIf="other_party">        
        <li *ngFor="let item of message$ | async; let i = index; let l = last;" style="width: 100%; overflow: hidden;">
          <div *ngIf="item">
            <!-- {{ item.data | json }} -->
            <div *ngIf="item.data.from == user$.uid">
              <span class="message me">
                <a href="{{ item.data.message }}" target="_blank">
                  <img *ngIf="item.data.type == 'image'" src="{{ item.data.message }}">
                </a>
                <span *ngIf="item.data.type == 'upload'">
                  <a href="{{ item.data.message }}">{{ item.data.file_name }}</a> 
                </span>
                <span *ngIf="!item.data.type">
                  {{ item.data.message }}
                </span>
              </span>
              <span class="is_read">
                <span *ngIf="(item.data.is_read == true) && l">
                    <i class="fas fa-check-circle"></i>  seen
                </span>
              </span>
            </div>
            <div *ngIf="item.data.from !== user$.uid">
              <span class="name">  
                {{ other_party.displayName }}
              </span>
              <span class="message other">
                <a href="{{ item.data.message }}" target="_blank">
                  <img *ngIf="item.data.type == 'image'" src="{{ item.data.message }}">
                </a>
                <span *ngIf="item.data.type == 'upload'">
                  <a href="{{ item.data.message }}">{{ item.data.file_name }}</a> 
                </span>
                <span *ngIf="!item.data.type">
                  {{ item.data.message }}
                </span>
              </span>
            </div>
            <a *ngIf="(auth.user | async)?.roles['admin']" (click)="delete(item.id)">Delete</a>
          </div>
        </li>
      </ul>
    </div>
  
  <input type="text" class="input" style="direction: rtl;" placeholder="Enter Your Message" 
    [(ngModel)]="message" (keypress)="enterClicked($event)">
  <br><br>
  <!-- image upload   -->


  
  <div class="file has-name" style="display: inline; position: absolute; right: 10px;">
    <label class="file-label">
      <input #fileInput type="file" class="file-input" (change)="chooseFiles($event)" />
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Upload a file…
        </span>
      </span>
    </label>
  </div>
  
  <!-- send -->
  <button class="button is-link"  (click)="send()">Send</button>
  <br><br>
  <progress *ngIf="progressBarValue" class="progress is-success is-small" value="{{ progressBarValue | async }}" max="100"></progress>
  <span *ngIf="file_added" style="font-family: 'Exo'; display: block;  margin-top: 0px;">
    <img *ngIf="is_image" 
          style="height: 100px; width: 100px;" 
          src="{{filesrc | async}}">
    <a *ngIf="!is_image" href="{{filesrc | async}}">Your file Download Link</a>
  </span>
</ng-template>