<div class="container-centered" style="text-align: left;" >
  <div *ngIf="auth.user | async; then authenticated else guest">
      <!-- template will replace this div -->
  </div>
</div>


<!-- User NOT logged in -->
<ng-template #guest >
  <div [@slide]="slideState" style="text-align: center;">
    <div class="login-box">
      <button (click)="auth.googleLogin()" class="social-button" id="google-connect">
        <span>Login with Google</span>
      </button>
    </div>
    <div class="login-box">
      <button (click)="auth.facebookLogin()" class="social-button" id="facebook-connect">
        <span>Login with Facebook</span>
      </button>
    </div>
    <div class="login-box">
      <button (click)="auth.twitterLogin()" class="social-button" id="twitter-connect">
        <span>Login with Twitter</span>
      </button>
    </div>
  </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
<div *ngIf="auth.user | async as user">

  <div class="columns">
    <div class="column is-one-fifth" style="max-width: 170px;">
      <div class="dropdown" id="dropdown" (click)="showDropdown()">
        <div class="dropdown-trigger">
          <span *ngIf="new_messages > 0 || graded_answers > 0" class="bell">
            <span class="notificationn notify"></span>
          </span>
          <span class="dropdown-item mnu">
              <img [src]="user.photoURL" class="pp">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </div>
    
        <div class="dropdown-menu" id="dropdown-menu">
          <div class="dropdown-content" (click)="onMenuItemClicked($event)">
            <a class="dropdown-item" [routerLink]="['/grades']">
              <i class="fas fa-graduation-cap" style="margin-right: 7px;"></i> 
              My Grades
              <span *ngIf="graded_answers > 0"
                style="padding: 3px 10px; margin-left: 20px; font-weight: bolder; background: tomato; border-radius: 50px 50px; color: white;">
                {{ graded_answers }}
              </span>
            </a>
            <a class="dropdown-item" [routerLink]="['/messages']">
              <i class="fas fa-envelope" style="margin-right: 7px;"></i> 
              Messages
              <span *ngIf="new_messages > 0"
                style="padding: 3px 10px; margin-left: 20px; font-weight: bolder; background: tomato; border-radius: 50px 50px; color: white;">
                {{ new_messages }}
              </span>
            </a>
            <a class="dropdown-item" (click)="auth.signOut()">
              <i class="fas fa-sign-out-alt" style="margin-right: 7px;"></i> 
              Logout
            </a>
            <hr class="dropdown-divider">
            <div class="dropdown-item">
              Got a complaint, inquiry, or a suggestion regarding the teaching of this class?
              <br>
              Please let <a [routerLink]="['/messages/', '1jSxrAJ7MKhBT4QJ6jDk1z4R7BF3']">ME</a> know about it.
            </div>        
          </div>
        </div>
      </div>
    </div>

    <div class="column is-four-fifth">
      <h3>Hello, <b>{{ user.displayName }}</b></h3>
      <!-- <p>UID: {{ user.uid }}</p> -->
      <p>Email: {{ user.email? user.email : "No email was found." }} </p>
      <!-- <p>Role: {{ user?.roles['admin']? 'Admin' : 'Student' }} </p> -->
      
      <button class=" button logout" (click)="auth.signOut()">
          <i class="fas fa-power-off"></i>
      </button>
    </div>
  </div>
</div>
</ng-template>