/*

    Name:       oceanic-next
    Author:     Filype Pereira (https://github.com/fpereira1)

    Original oceanic-next color scheme by Dmitri Voronianski (https://github.com/voronianski/oceanic-next-color-scheme)

*/

.cm-s-oceanic-next.CodeMirror {
	font-size: 1.03em;
	font-weight: bold;
	line-height: 1.5em;
	font-family: 'Quicksand', monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #272A32;
	color: #f8f8f2;
}

.cm-s-oceanic-next div.CodeMirror-selected {
	 background: rgba(101, 115, 126, 0.33);
}

.cm-s-oceanic-next .CodeMirror-line::selection, .cm-s-oceanic-next .CodeMirror-line > span::selection, .cm-s-oceanic-next .CodeMirror-line > span > span::selection {
	 background: #007DFF80;
}

.cm-s-oceanic-next .CodeMirror-line::-moz-selection, .cm-s-oceanic-next .CodeMirror-line > span::-moz-selection, .cm-s-oceanic-next .CodeMirror-line > span > span::-moz-selection {
	 background: #007DFF80;
}

.cm-s-oceanic-next .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #272a32;
	padding-right: 10px;
	z-index: 3;
	border: none;
}

.cm-s-oceanic-next .CodeMirror-guttermarker {
	 color: white;
}

.cm-s-oceanic-next .CodeMirror-guttermarker-subtle {
	 color: #d0d0d0;
}

.cm-s-oceanic-next .CodeMirror-linenumber {
	 color: rgb(194, 195, 197);
}

.cm-s-oceanic-next .CodeMirror-cursor {
	 border-left: 2px solid #65F2C5;
}


.cm-s-oceanic-next span.cm-comment {
	color: #BC9458;
	/*background: #00000000;*/
	font-style: italic;
}

.cm-type {
	color: #F65552;
}


.cm-s-oceanic-next span.cm-atom {
	 color: #F5A147;
}

.cm-s-oceanic-next span.cm-number {
	 color: #F1D950;
}


.cm-s-oceanic-next span.cm-property {
	 color: #F1D950;
}

.cm-s-oceanic-next span.cm-attribute,
.cm-s-oceanic-next span.cm-keyword {
	 color: #91DA3E;
	 font-weight: bold;
}

.cm-s-oceanic-next span.cm-builtin {
	 color: #6EF2C5;
}

.cm-s-oceanic-next span.cm-string {
	 color: #65F2C5;
	/* background: #102622FA; */
}


.cm-s-oceanic-next span.cm-variable,
.cm-s-oceanic-next span.cm-variable-2,
.cm-s-oceanic-next span.cm-variable-3 {
	 color: #f8f8f2;
}


.cm-s-oceanic-next span.cm-def {
	 color: #F1D950;
}

.cm-s-oceanic-next span.cm-bracket {
	 color: #5FB3B3;
}

.cm-s-oceanic-next span.cm-tag {
	 color: #C594C5;
}

.cm-s-oceanic-next span.cm-header {
	 color: #C594C5;
}

.cm-s-oceanic-next span.cm-link {
	 color: #C594C5;
}

.cm-s-oceanic-next span.cm-error {
	 background: #C594C5; color: #f8f8f0;
}


.cm-s-oceanic-next .CodeMirror-activeline-background {
	 background: rgba(101, 115, 126, 0.33);
}

.cm-s-oceanic-next .CodeMirror-matchingbracket {

  text-decoration: underline;
  color: white !important;

}
