/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-thumb {
    height: 3px;
    background: #888;
}
::-webkit-scrollbar-track {
    height: 5px;
    background: #f1f1f1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: bold;
    font-family: 'Exo';
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-weight: bold;
    font-family: 'Exo';
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-weight: bold;
    font-family: 'Exo';
  }
  :-moz-placeholder { /* Firefox 18- */
    font-weight: bold;
    font-family: 'Exo';
  }