

<div class="container-centered">
  <div [@slide]="editor_visiblility">
    <div class="code-segment">
      <textarea id="global_editor"></textarea>
    </div>
    <br>
    <button (click)="close()" class="closee"><i class="fas fa-times-circle"></i></button>
    <br>
  </div>
  
  <span class="hint"> You can <b>resubmit</b> any of the assignments if you want. </span>
  <ul>

    <!-- 
                                    *****************
                                    ****** BUG ******
                                    *****************
      // the next line will appear when a grade is REMOVED -- and the rest will not also appear
    -->
    <div *ngIf="(grade$ | async)?.length == 0" style="font-family: 'Exo'; font-size: 30px; text-align: center;">
      You haven't submitted any assignments yet.
    </div>
    
    <li *ngFor="let grade of grade$ | async" class="grade">
      
      <div *ngIf="is_new[grade.id]" class="new">NEW</div>
      <div class="num">
        {{ grade.assignment_number }}
      </div>
      
      <span *ngIf="grade.status == 'uploaded'" class="status">
        <div class="waiting"></div> waiting for grading
      </span>

      <span *ngIf="(grade.status == 'correct') || (grade.status == 'wrong') " class="status">
        <div class="{{ grade.status }}"></div> Graded, your answer is {{ grade.status }}
      </span>
      
      <button *ngIf="grade.type == 'code'" class="answer" (click)="fill(grade.answer)">
        View your Code
      </button>
      <span *ngIf="grade.type == 'file'" class="answer">
        <a href="{{ grade.answer }}" target="_blank" style="color:gold;">(View your answer/s)</a>
      </span>
      <span *ngIf="grade.date" class="date"> {{ grade.date }} </span>
      <!-- <b>{{ grade.test_title }}</b> ( {{ grade.test_mark }} out of {{ grade.out_of }} )
        <progress class="progress is-success is-small" value="{{ grade.test_mark/grade.out_of * 100 }}" max="100"></progress> -->
      
    </li>
  </ul>
</div>