.container-centered {
    padding: 10px 30px;
}

ul {
    background-color: #222;
    color: beige;
    border-radius: 5px 15px 5px;
    padding: 20px 0px;
}

.num {
    font-family: 'Open Sans';
    font-weight: 600;
    width: auto;
    height: auto;
    /* color: aliceblue; */
    padding: 10px 10px;
    display: inline-block;
    font-size: 2rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.waiting {
    margin: 0px 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #A90;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
    -webkit-animation: blinkWaiting 2s infinite;
    -moz-animation: blinkWaiting 2s infinite;
    -ms-animation: blinkWaiting 2s infinite;
    -o-animation: blinkWaiting 2s infinite;
    animation: blinkWaiting 2s infinite;
}

@-webkit-keyframes blinkWaiting {
    from { background-color: #A90; }
    50% { 
        background-color: rgb(253, 234, 57); 
        /* box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 209, 6, 0.5) 0 2px 0; */
    }
    to { background-color: #A90; }
}

.correct {
    margin: 0px 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: rgb(183, 243, 63);
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset rgb(133, 192, 15) 0 -1px 9px, #7D0 0 2px 12px;
}

.wrong {
    margin: 0px 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: rgb(153, 18, 0);
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
    -webkit-animation: blinkwrong 1.5s infinite;
    -moz-animation: blinkwrong 1.5s infinite;
    -ms-animation: blinkwrong 1.5s infinite;
    -o-animation: blinkwrong 1.5s infinite;
    animation: blinkwrong 2.5s infinite;
}

@-webkit-keyframes blinkwrong {
    from { background-color: rgb(153, 18, 0); }
    50% { 
        background-color: rgb(243, 29, 29); 
    }
    to { background-color: rgb(153, 18, 0); }
}


.answer {
    display: block;
    margin-left: 10%;
}

.status {
    /* display: inline-block; */
    margin-left: 15px;
}

.date {
    font-family: 'Open Sans';
    display: block;
    font-size: 10px;
    /* margin-left: 20px; */
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and ( max-width: 450px )  {
    .date {
        font-family: 'Open Sans';
        display: block;
        font-size: 10px;
        position: relative;
        margin: 10px 0;
    }
}


.hint {
    font-family: 'Open Sans';
    display: block;
    font-size: 12px;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 5px; */
    /* right: 5px; */
    margin-bottom: 5px;
}


.grade {
    margin: 10px 5%;
    text-align: left;
    font-family: 'Exo';
    position: relative;
}

.grade .new {
    font-size: 9px;
    font-weight: bold;
    padding: 3px;
    font-family: 'Exo';
    background: #A90;
    color: black;
    position : absolute;
    top : 15px;
    right : 0;
    -webkit-animation: blinkNew 1.5s infinite;
    -moz-animation: blinkNew 1.5s infinite;
    -ms-animation: blinkNew 1.5s infinite;
    -o-animation: blinkNew 1.5s infinite;
    animation: blinkNew 1.5s infinite;
}

@-webkit-keyframes blinkNew {
from { background: #A90; }
50% { 
    background: rgb(245, 232, 115); 
}
to { background: #A90; }
}



.grade > progress {
    margin-top: 10px;
}

.code-segment::before {
    padding-top: 18px;
    padding-left: 8px;
    background-color: #40aa94;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -18px;
    margin-top: -15px;
    color: #fff;
    line-height: 0;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
    z-index: 1099;
}

button.closee {
    z-index: 3000;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    overflow: hidden;
    line-height: 30px;
    padding: 15px;
    text-align: center;
    color: goldenrod;
    font-size: 30px;
    transition: .5s color ease-in-out;
    border-radius: 2px;
}  

button.closee:hover {
    color: #F34541;
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
